.portfolio {
  position: absolute;
  top: 15px;
}

.pf-title {
  margin-bottom: 10px;
  letter-spacing: 2px;
  border-bottom: 1px solid blue;
  width: 30%;
}

.pf-title h5 {
  margin: 0;
}

.pf-title span {
  color: red;
}

.portfolio-page {
  margin: 30px auto 0;
  display: flex;
  flex-wrap: wrap;
  width: 70%;
  justify-content: space-between;
}

.portfolio-page i.tap {
  font-size: 10px;
  color: blue;
  width: 100%;
  text-align: end;
}

@media (min-width: 769px) {
  .portfolio-page i.tap {
    display: none;
  }
}

.pf-contents {
  margin-bottom: 25px;
}

@media (min-width: 769px) {
  .pf-contents {
    width: 45%;
  }
}

.pf-contents img {
  margin-bottom: 5px;
  border: 2px solid rgba(0, 0, 0, 0.2);
}

@media (min-width: 769px) {
  .pf-contents img {
    margin-bottom: 10px;
  }
}

.pf-contents .p-text {
  font-size: 10px;
  letter-spacing: 1px;
  line-height: 16px;
  text-decoration: underline;
}

@media (min-width: 769px) {
  .pf-contents .p-text {
    font-size: 13px;
    line-height: 20px;
    margin-top: 5px;
    text-decoration: none;
  }
}

.pf-contents img {
  width: 100%;
  cursor: pointer;
  transition-duration: 0.3s;
}

.pf-contents:hover img {
  opacity: 0.4;
  transition-duration: 0.3s;
}

